.t1, .t2, .t3, .t4 {
  display: block;
  max-width: 400px;
  background-color: brown;
  color: white;
  padding: 10px 20px;
  margin-bottom: 30px;
  text-align: center;
}

.t4 {
  max-height: 60px;  
  overflow: hidden;
}