*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 8% 1fr 1fr 8%;
  grid-template-rows: 1fr 10%;
  gap: 15px;
}
.grid div{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(71, 69, 69);
  color: white;
  font-weight: bold;
  font-size: 20px;
}
