table{
  background-color: #eee;
  padding: 5px;
  min-width: 90%;
  min-height: 350px;
}

td{
  border: 1px solid gray;
  border-spacing: 3px;
  padding: 10px;
}

table thead td{
  background-color: green;
  text-align: center;
  font-weight: bold;
  color:#eee;
}